body{
    font-family: 'Merriweather', serif;
    margin: 0px;
}
section{
    margin-bottom: 50px;
}
h1{
    font-size: 45px;
}
span{
    color: #b71540;
}
.first{
    display: flex;
    padding: 70px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
p{
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #ff9f1a;
    padding: 10px;
    border-radius: 15px;
}
#div-1{
    padding-top: 70px;
}
.p-1{
    margin-top: 80px;
}

.second{
    display: flex;
}
.width-33{
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 35px;
    margin-right: 35px;
    border: 2px solid none;
    border-radius: 15px;
}
.illustrator{
    width: 20%;
}
#bg-1{
    background-color: #ff99c2;
}
#bg-2{
    background-color: #ccf5ff;
}
#bg-3{
    background-color:  #99ff99;
}
.mission{
    text-align: center;
}
.third{
    display: flex;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 10px;
}
.footer{
    color: white;
}
.footer-p{
    color: white;
    font-size: 14px;
    padding-bottom: 25px;
}
.width-40{
    width: 40%;
}
.width-40 img{
    width: 80%;
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    padding-left: 30%;
    padding-top: 3%;
}
.width-60{
    width: 60%;
    padding-left: 10%;
    padding-right: 15%;
}
